/****** reseteo ******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.seccion {
    margin: 1rem 0;
}

.menu__item {
    list-style-type: none;
}

.menu__link {
    text-decoration: none;
}

.input {
    outline: none;
}

.boton {
    width: 7.25rem;
    height: 2.75rem;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0.35rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    background-color: var(--color-1-header);
    color: var(--color-5-header);
    transition: color 0.5s linear, background-color 0.3s linear;
    cursor: pointer;
}

.boton:hover {
    border: 2px solid var(--color-2-header);
    color: var(--color-2-header);
    background-color: var(--color-5-header);
}

/****** fuentes ******/
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 
    font-family: "Josefin Sans", sans-serif;
    font-family: "Open Sans", sans-serif;
*/
/**** fuentes.end ****/

/****** colores ******/
:root {
    /* colores */
    --color-blanco: #f1f3f4;
    --color-negro: #130c0e;
    --color-verde: #1d953e;
    --color-rojo: #da103b;
}
/**** colores.fin ****/

/****** header ******/
.contenedor-logo {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 0;
    margin: 0;
}

.contenedor-logo > * {
    margin: 0 1rem;
}

.logo {
    position: relative;
    display: block;
    width: 15%;
    height: 15%;
    margin: 0;
    padding: 0;
}

.titulo__link {
    position: relative;
    color: var(--color-blanco);
    font-family: "Josefin Sans", sans-serif;
    font-size: larger;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    transition: color 0.5s ease;
}

.nav.scrolled .titulo__link {
    color: var(--color-blanco);
} 

.nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    height: 5rem;
    background-color: transparent;
    z-index: 1;
    /*background-color: transparent;*/
    transition: background-color 0.5s ease;
}

.nav.scrolled {
    background-color: var(--color-rojo);
    opacity: 0.9;
}

.nav .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: auto;
    padding: 0;
    margin: 0;
}

.nav .menu .menu__item {
    display: grid;
    align-items: center;
    width: 7rem;
    height: 3rem;
    margin: auto 1rem;
    list-style: none;
}

.nav .menu .menu__link {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: medium;
    font-weight: 700;
    color: var(--color-blanco);
}

.nav .hamIcon {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.nav .hamIcon .bar {
    width: 30px;
    height: 5px;
    background-color: var(--color-blanco);
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.contenedor-registro {
    position: relative;
    width: 20%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-registro > .boton {
    margin: 0 .5rem;
}

.boton-login,
.boton-signup {
    width: 5.5rem;
    height: 1.75rem;
    text-align: center;
    border-radius: .35rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: .75rem;
    font-weight: 600;
}

.boton-login {
    border: #f1f3f4 2px solid;
    background-color: transparent;
    color: var(--color-blanco);
}

.boton-signup {
    border: transparent;
    background-color: var(--color-blanco);
    color: var(--color-negro);
}

#nav-toggle {
    position: absolute;
    top: -100px;
}
/* contenedor vídeo */
.contenedor-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.efecto-oscurecer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-negro);
    opacity: 50%;
}
/* fin.contenedor vídeo */
/*  header.fin */
/* main */
/* contenedor secciones */
.contenedor-secciones {
    position: absolute;
    top: 100vh;
    left: 0;
    max-width: 100%;
}
/* fin.contendor secciones */
/* configuración de los sliders */
.slider {
    width: 100%;
    height: var(--height);
    margin: 0.25rem 0;
    overflow: hidden;
    mask-image: linear-gradient( to right, transparent, #212529 10% 90%, transparent );
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.slider .lista-imagenes {
    display: flex;
    width: 100%;
    min-width: calc( var(--width) * var(--quantity) );
    position: relative;
}

.slider .lista-imagenes-artistas {
    height: 100%;
}

.slider .lista-imagenes-labels .list-item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: desplazamientoIzquierda 20s linear infinite;
    /*animation-delay: calc( (10s / var(--quantity)) * (var(--posicion) -1) ) !important;*/
}

.slider .lista-imagenes-artistas .list-item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    right: 100%;
    animation: desplazamientoDerecha 45s linear infinite;
}

.slider .lista-imagenes .list-item img {
    width: 100%;
    position: relative;
}

.slider .lista-imagenes-labels img {
    position: relative;
    height: 75px;
}

.slider .lista-imagenes-artistas .twitter-artista {
    position: absolute;
    color: var(--color-rojo);
    font-size: 1.6rem;
    bottom: 5%;
    left: 20%;
}

.slider .lista-imagenes-artistas .facebook-artista {
    position: absolute;
    color: var(--color-rojo);
    font-size: 1.6rem;
    bottom: 5%;
    left: 40%;
}

.slider .lista-imagenes-artistas .youtube-artista {
    position: absolute;
    color: var(--color-rojo);
    font-size: 1.6rem;
    bottom: 5%;
    left: 60%;
}

.slider .lista-imagenes-artistas .instagram-artista {
    position: absolute;
    color: var(--color-rojo);
    font-size: 1.6rem;
    bottom: 5%;
    left: 80%;
}

@keyframes desplazamientoIzquierda {
    from {
        left: 100%;
    }

    to {
        left: calc( var(--width) * -1);
    }
}

@keyframes desplazamientoDerecha {
    from {
        right: 100%;
    }

    to {
        right: calc( var(--width) * -1);
    }
}

.slider:hover .list-item {
    animation-play-state: paused !important;
}

.slider:hover .list-item-artista {
    filter: grayscale(1);
}

.slider .list-item-artista:hover {
    filter: grayscale(0);
}
/* fin.configuración de los sliders */
/* sección artistas */
.seccion-artistas {
    padding: 0;
    margin: 0;
}
/* fin.sección artistas */
/* sección álbumes */
.seccion-albumes {
    background-color: var();
    color: var();
    /*background: linear-gradient(to right, #FF0000 20%, #FFF000 80%);*/
}

.seccion .seccion-titulo {
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
}

.galeria-artistas {
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
}

.seccion-artistas .contenedor:nth-child(1) {
    background-color: #e6d900;
}

.oh-snap {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 0.7rem;
}

.oh-snap > * {
    scroll-snap-align: start;
}

.seccion-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3.5rem;
}

.seccion-contenedor i {
    font-size: 1.5rem;
}

.carrusel-slide {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    padding: 1rem 0;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.card {
    width: 27rem;
    height: auto;
    border-radius: 0.35rem;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}

.contenedor-datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem 0;
    font-weight: 700;
    color: var(--color-2-header);
}

.contenedor-datos h5 {
    font-weight: 800;
}

.card > img {
    display: block;
    width: 96.5%;
    height: auto;
    border-radius: 0.35rem;
    margin: 0.5rem auto;
    object-fit: cover;
}
/* fin.sección álbumes */
/* sección contacto */
.seccion-contacto {
    height: auto;
    width: 95%;
    margin: 0.75rem auto;
    display: flex;
    flex-direction: row;
    border-radius: 0.35rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.seccion-contacto .titulo-formulario {
    /*text-align: center;*/
    font-family: "Madimi One", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
}

.contenedor-formulario {
    position: relative;
    width: 70%;
    height: auto;
    align-content: center;
    padding: 0rem 3rem;
}

.formulario-contacto {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1em 2em;
}

.contenedor-menu {
    position: relative;
    width: 30%;
    height: auto;
    align-content: center;
}

.fieldset {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
}

.contenedor-email-pais {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-email-pais .contenedor-email {
    position: relative;
    height: 1.5rem;
    width: 50%;
}

.contenedor-email-pais
.contenedor-email
input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    border-bottom: 2px solid var(--color-1-header);
}

.contenedor-email input:focus ~ label,
.contenedor-email input:valid ~ label {
    transform: translateY(-1rem);
}

.contenedor-email-pais
.contenedor-email
label {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    color: var(--color-3-header);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    pointer-events: none;
    transition: all 0.3s ease;
}

.contenedor-email-pais
.contenedor-email
.linea-validacion {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
    background-color: var(--color-1-header);
}

.contenedor-email
.linea-validacion:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--color-6-header);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.contenedor-email input:focus ~ .linea-validacion:before,
.contenedor-email input:valid ~ .linea-validacion:before {
    transform: scaleX(1);
}

.contenedor-email-pais .contenedor-pais {
    position: relative;
    width: 50%;
}

.contenedor-pais > *:nth-child(1) {
    margin-left: 1.5rem;
}

.contenedor-icono {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: baseline;
    color: var(--color-5-header);
}

.contenedor-icono i {
    font-size: 18px;
}

.select-pais {
    border: none;
    border-radius: 0.35rem;
    appearance: none;
    padding: 2px 30px 2px 15px;
    width: 100%;
    color: var(--color-5-header);
    background-color: var(--color-1-header);
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 14px;
}

.fieldset > * {
    margin: 1rem auto;
}

.contenedor-tienda {
    height: auto;
    padding: 1em;
}

.contenedor-tienda ul {
    list-style: none;
}

.contenedor-tienda ul li {
    margin: 1.5rem 0;
}

.contenedor-tienda ul li a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: var(--color-2-header);
}

.contenedor-tienda ul li a:hover {
    font-style: italic;
    font-weight: 700;
    color: var(--color-1-header);
}

.contenedor-informacion {
    text-align: center;
}

.contenedor-informacion a {
    margin: 0 1rem;
    font-size: 20px;
}

.contenedor-terminos {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 12px;
}

.boton-tienda {
    margin: 1rem;
}

.linea {
    width: 100%;
}
/* fin.sección contacto */
/* identificadores de los sliders */
#labelLogo1 {
    animation-delay: 0s;
}

#labelLogo2 {
    animation-delay: 2s;
}

#labelLogo3 {
    animation-delay: 4s;
}

#labelLogo4 {
    animation-delay: 6s;
}

#labelLogo5 {
    animation-delay: 8s;
}

#labelLogo6 {
    animation-delay: 10s;
}

#labelLogo7 {
    animation-delay: 12s;
}

#labelLogo8 {
    animation-delay: 14s;
}

#labelLogo9 {
    animation-delay: 16s;
}

#labelLogo10 {
    animation-delay: 18s;
}

#imagenArtista1 {
    animation-delay: 0s;
}

#imagenArtista2 {
    animation-delay: 5s;
}

#imagenArtista3 {
    animation-delay: 10s;
}

#imagenArtista4 {
    animation-delay: 15s;
}

#imagenArtista5 {
    animation-delay: 20s;
}

#imagenArtista6 {
    animation-delay: 25s;
}

#imagenArtista7 {
    animation-delay: 30s;
}

#imagenArtista8 {
    animation-delay: 35s;
}

#imagenArtista9 {
    animation-delay: 40s;
}

#imagenArtista10 {
    animation-delay: 50s;
}
/* identificadores de los sliders.end */
/**** main.fin ****/
/****** footer ******/
.footer {

}
/**** footer.fin ****/

