<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font awesome -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!-- título página web -->
    <title>@ViewData["Title"] - Kerplunk Records</title>

    <!-- icono página web -->
    <link rel="icon" type="image/x-icon" href="~/assets/imagenes/logo.png">

    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HomeMediaQuery.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Discografica.styles.css" asp-append-version="true" />
</head>
<body class="body">
    <header class="header">
        <nav class="nav">
            <input type="checkbox" id="nav-toggle">
            <!-- logo -->
            <div class="contenedor contenedor-logo">
                <img class="logo" src="~/assets/imagenes/logo.png" href="#home" id="logo">
                <span class="titulo titulo-sitioWeb"><a class="titulo__link">Kerplunk Records</a></span>
            </div>
            <!-- menú -->
            <ul class="menu">
                <li class="menu__item efecto-linea"><a href="#seccionArtistas" class="menu__link" id="artistas">Artistas</a></li>
                <li class="menu__item efecto-linea"><a href="#seccionTopAlbumes" class="menu__link" id="topAlbumes">Top Álbumes</a></li>
                <li class="menu__item efecto-linea"><a href="#seccionTopArtistas" class="menu__link" id="topArtistas">Top Artistas</a></li>
                <li class="menu__item efecto-linea"><a href="#seccionNoticias" class="menu__link" id="noticias">Noticias</a></li>
                <li class="menu__item efecto-linea"><a href="#seccionContacto" class="menu__link" id="contacto">Contacto</a></li>

                <div class="contenedor contenedor-registro-md">
                    <button type="button" class="boton-registro boton-login" id="login">Login</button>
                    <button type="button" class="boton-registro boton-signup" id="signup">Registrarse</button>
                </div>
            </ul>
            <!-- registro usuario -->
            <div class="contenedor contenedor-registro">
                <button type="button" class="boton-registro boton-login" id="login">Login</button>
                <button type="button" class="boton-registro boton-signup" id="signup">Registrarse</button>
            </div>
            <!-- icono de menú hamburguesa -->
            <label for="nav-toggle" class="hamIcon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </label>
        </nav>
        <!-- vídeo -->
        <div class="contenedor contenedor-video">
            <video autoplay loop muted class="video" id="video">
                <source src="~/assets/videos/video.mp4" type="video/mp4">
            </video>
            <div class="efecto-oscurecer"></div>
        </div>
    </header>
    <main class="main">
        @RenderBody()
    </main>
    <footer class="footer">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/Home.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
