@{
    ViewData["Title"] = "Home";
}

<!-- vídeo -->
<div class="contenedor contenedor-video">
    <video autoplay loop muted class="video" id="video">
        <source src="~/assets/videos/video.mp4" type="video/mp4">
    </video>
    <div class="efecto-oscurecer"></div>
</div>
<!-- secciones -->
<div class="contenedor contenedor-secciones">
    <!-- sección marcas -->
    <section class="seccion seccion-marcas" id="marcas"></section>
    <!-- sección artistas -->
    <section class="seccion seccion-artistas" id="artistas">
        <div class="slider" style="--width: 350px; --height: 250px; --quantity: 8;">
            <div class="lista-imagenes lista-imagenes-artistas">

                <div class="list-item list-item-artista" id="imagenArtista1">
                    <img src="~/assets/imagenes/artistas/oliviaRodrigo.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista2">
                    <img src="~/assets/imagenes/artistas/jamesBlunt.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista3">
                    <img src="~/assets/imagenes/artistas/sabrinaCarpenter.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista4">
                    <img src="~/assets/imagenes/artistas/edSheeran.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista5">
                    <img src="~/assets/imagenes/artistas/taylorSwift.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista6">
                    <img src="~/assets/imagenes/artistas/bonJovi.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista7">
                    <img src="~/assets/imagenes/artistas/katyPerry.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista8">
                    <img src="~/assets/imagenes/artistas/davidBowie.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista9">
                    <img src="~/assets/imagenes/artistas/theBangles.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista10">
                    <img src="~/assets/imagenes/artistas/u2.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- sección top albumes -->
    <section class="seccion seccion-topAlbums" id="topAlbums"></section>
    <!-- sección top artistas -->
    <section class="seccion seccion-topArtistas" id="topArtistas"></section>
    <!-- sección contacto -->
    <section class="seccion seccion-contacto" id="contacto"></section>
    <!-- fin de las secciones -->
</div>

