@{
    ViewData["Title"] = "Home";
}


<!-- secciones -->
<div class="contenedor contenedor-secciones">
    <!-- sección artistas -->
    <section class="seccion seccion-artistas" id="seccionArtistas">
        <div class="slider" style="--width: 350px; --height: 250px; --quantity: 8;">
            <div class="lista-imagenes lista-imagenes-artistas">

                <div class="list-item list-item-artista" id="imagenArtista1">
                    <img src="~/assets/imagenes/artistas/oliviaRodrigo.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista2">
                    <img src="~/assets/imagenes/artistas/jamesBlunt.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista3">
                    <img src="~/assets/imagenes/artistas/sabrinaCarpenter.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista4">
                    <img src="~/assets/imagenes/artistas/edSheeran.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista5">
                    <img src="~/assets/imagenes/artistas/taylorSwift.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista6">
                    <img src="~/assets/imagenes/artistas/bonJovi.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista7">
                    <img src="~/assets/imagenes/artistas/katyPerry.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista8">
                    <img src="~/assets/imagenes/artistas/davidBowie.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista9">
                    <img src="~/assets/imagenes/artistas/theBangles.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>

                <div class="list-item list-item-artista" id="imagenArtista10">
                    <img src="~/assets/imagenes/artistas/u2.jpg" class="imagen-artista" />
                    <a class="link" href="#"><i class="fa-brands fa-twitter twitter-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-facebook facebook-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-youtube youtube-artista"></i></a>
                    <a class="link" href="#"><i class="fa-brands fa-instagram instagram-artista"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- sección top albumes -->
    <section class="seccion seccion-topAlbums" id="seccionTopAlbums">
        <div class="seccion-contenedor">
            <i class="fa-solid fa-chevron-left" id="previo"></i>
            <h3 class="seccion-titulo text-center" id="seccionAlbumesTitulo"> Álbumes más escuchados </h3>
            <i class="fa-solid fa-chevron-right" id="siguiente"></i>
        </div>

        <div class="carrusel-slide oh-snap" id="carrusel">
            <!-- plantilla -->
            <div class="card">
                <img class="portadaAlbum" src="~/assets/imagenes/albumes/albumCover (8).jpg" alt="imagen-album" />
                <div class="contenedor contenedor-datos">
                    <h5 class="nombreAlbum">Álbum 1</h5>
                    <p class="nombreArtista">Artista 1</p>
                    <p class="fechaLanzamiento">13/07/2024</p>
                    <button type="button" class="boton boton-album">Escuchar</button>
                </div>
            </div>

            <div class="card">
                <img class="portadaAlbum" src="~/assets/imagenes/albumes/albumCover (2).jpg" alt="imagen-album" />
                <div class="contenedor contenedor-datos">
                    <h5 class="nombreAlbum">Álbum 2</h5>
                    <p class="nombreArtista">Artista 2</p>
                    <p class="fechaLanzamiento">13/07/2024</p>
                    <button type="button" class="boton boton-album">Escuchar</button>
                </div>
            </div>

            <div class="card">
                <img class="portadaAlbum" src="~/assets/imagenes/albumes/albumCover (3).jpg" alt="imagen-album" />
                <div class="contenedor contenedor-datos">
                    <h5 class="nombreAlbum">Álbum 3</h5>
                    <p class="nombreArtista">Artista 3</p>
                    <p class="fechaLanzamiento">13/07/2024</p>
                    <button type="button" class="boton boton-album">Escuchar</button>
                </div>
            </div>

            <div class="card">
                <img class="portadaAlbum" src="~/assets/imagenes/albumes/albumCover (4).jpg" alt="imagen-album" />
                <div class="contenedor contenedor-datos">
                    <h5 class="nombreAlbum">Álbum 4</h5>
                    <p class="nombreArtista">Artista 4</p>
                    <p class="fechaLanzamiento">13/07/2024</p>
                    <button type="button" class="boton boton-album">Escuchar</button>
                </div>
            </div>

            <div class="card">
                <img class="portadaAlbum" src="~/assets/imagenes/albumes/albumCover (5).jpg" alt="imagen-album" />
                <div class="contenedor contenedor-datos">
                    <h5 class="nombreAlbum">Álbum 5</h5>
                    <p class="nombreArtista">Artista 5</p>
                    <p class="fechaLanzamiento">13/07/2024</p>
                    <button type="button" class="boton boton-album">Escuchar</button>
                </div>
            </div>

            <div class="card">
                <img class="portadaAlbum" src="~/assets/imagenes/albumes/albumCover (6).jpg" alt="imagen-album" />
                <div class="contenedor contenedor-datos">
                    <h5 class="nombreAlbum">Álbum 6</h5>
                    <p class="nombreArtista">Artista 6</p>
                    <p class="fechaLanzamiento">13/07/2024</p>
                    <button type="button" class="boton boton-album">Escuchar</button>
                </div>
            </div>

            <div class="card">
                <img class="portadaAlbum" src="~/assets/imagenes/albumes/albumCover (7).jpg" alt="imagen-album" />
                <div class="contenedor contenedor-datos">
                    <h5 class="nombreAlbum">Álbum 7</h5>
                    <p class="nombreArtista">Artista 7</p>
                    <p class="fechaLanzamiento">13/07/2024</p>
                    <button type="button" class="boton boton-album">Escuchar</button>
                </div>
            </div>

            <div class="card">
                <img class="portadaAlbum" src="~/assets/imagenes/albumes/albumCover (1).jpg" alt="imagen-album" />
                <div class="contenedor contenedor-datos">
                    <h5 class="nombreAlbum">Álbum 8</h5>
                    <p class="nombreArtista">Artista 8</p>
                    <p class="fechaLanzamiento">13/07/2024</p>
                    <button type="button" class="boton boton-album">Escuchar</button>
                </div>
            </div>
            <!-- plantilla.end -->
        </div>
    </section>
    <!-- sección top artistas -->
    <section class="seccion seccion-topArtistas" id="seccionTopArtistas"></section>
    <!-- sección marcas -->
    <section class="seccion seccion-marcas" id="seccionLabels">
        <div class="slider" style="--width: 150px; --height: 75px; --quantity: 10;">
            <div class="lista-imagenes lista-imagenes-labels">
                <div class="list-item" id="labelLogo1"><img class="imagen-logo-label" src="~/assets/imagenes/labels/Atlantic.png" alt="Atlantic" /></div>
                <div class="list-item" id="labelLogo2"><img class="imagen-logo-label" src="~/assets/imagenes/labels/BigBeatRecords.png" alt="Big Beat Records" /></div>
                <div class="list-item" id="labelLogo3"><img class="imagen-logo-label" src="~/assets/imagenes/labels/CapitolRecords.png" alt="Capitol Records" /></div>
                <div class="list-item" id="labelLogo4"><img class="imagen-logo-label" src="~/assets/imagenes/labels/ColumbiaRecords.png" alt="Columbia Records" /></div>
                <div class="list-item" id="labelLogo5"><img class="imagen-logo-label" src="~/assets/imagenes/labels/EpicRecords.png" alt="Epic Records" /></div>
                <div class="list-item" id="labelLogo6"><img class="imagen-logo-label" src="~/assets/imagenes/labels/EpitaphRecords.png" alt="Epitaph Records" /></div>
                <div class="list-item" id="labelLogo7"><img class="imagen-logo-label" src="~/assets/imagenes/labels/InterscopeRecords.png" alt="Interscope Records" /></div>
                <div class="list-item" id="labelLogo8"><img class="imagen-logo-label" src="~/assets/imagenes/labels/LegacyRecordings.png" alt="Legacy Recordings" /></div>
                <div class="list-item" id="labelLogo9"><img class="imagen-logo-label" src="~/assets/imagenes/labels/RhinoEntertainment.png" alt="Rhino Entertainment" /></div>
                <div class="list-item" id="labelLogo10"><img class="imagen-logo-label" src="~/assets/imagenes/labels/UniversalMusicGroup.png" alt="Universal Music Group" /></div>
            </div>
        </div>
    </section>
    <!-- sección contacto -->
    <!-- Contacto -->
    <section class="seccion seccion-contacto" id="seccionContacto">
        <div class="contenedor-formulario">
            <form class="formulario formulario-contacto">
                <!-- email y seleccionar país -->
                <fieldset class="fieldset">
                    <legend class="titulo-formulario">¡Regístrate para enterarte de lo más nuevo!</legend>
                    <div class="contenedor-email-pais">
                        <div class="contenedor-email">
                            <input type="email" class="input input-email" id="emailInput" required />
                            <div class="linea-validacion"></div>
                            <label for="emailInput">Email:</label>
                        </div>
                        <div class="contenedor-pais">
                            <select class="select select-pais" id="selectPais">
                                <option class="pais" value="Seleccione">Seleccione un país...</option>
                                <option class="pais" value="">France</option>
                                <option class="pais" value="">Germany</option>
                                <option class="pais" value="">Greece</option>
                                <option class="pais" value="">Italy</option>
                                <option class="pais" value="">Portugal</option>
                                <option class="pais" value="">Spain</option>
                            </select>
                            <div class="contenedor-icono">
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor-terminos">
                        <p>
                            Emails will be sent by or on behalf of MVC Música.
                            You may withdraw your consent at any time. Privacy Policy / Do Not Sell My Personal Information.
                        </p>
                        <input type="checkbox" id="formularioCheckbox" />
                        <label for="formularioCheckbox">Acepta los términos y condiciones</label>
                    </div>
                    <button type="button" class="boton boton-suscripcion">Suscribirse</button>
                </fieldset>
            </form>
        </div>
        <div class="contenedor-menu">
            <div class="contenedor-tienda">
                <ul>
                    <li><a href="#seccionArtistas">artistas</a></li>
                    <li><a href="#">canciones</a></li>
                    <li><a href="#">suscripción</a></li>
                </ul>
                <button type="button" class="boton boton-tienda">Comprar</button>
            </div>
            <hr class="linea linea-contenedor-menu" />
            <div class="contenedor-informacion">
                <a class="h-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="h-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="h-youtube" href="#"><i class="fa fa-youtube"></i></a>
                <a class="h-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </section>
    <!-- fin de las secciones -->
</div>

